/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}
body {
  padding-left: 36vw;
  padding-right:  36vw;
}
header {
  background: url('../images/soup.jpg') center ;
  background-size: cover;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 45px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-weight: 400;
}
section {
  margin: 15px 0;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(87, 87, 87)
}

h2 {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 10px;
}
.ingredients, .how-to {
  border-top: 1px solid #ccc;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 5px;
}
.infos {
  width: 350px;
}
.img-container {
  display: flex;
  justify-content: center;
}